*{
  margin:0;
}

.navbar{
  display:flex;
  justify-content: space-between;
}
.navlink{
  display:flex;
  justify-content: space-evenly;
  word: spacing 10px;
}
.navlink
text-decoration:none 
.link{
  
}